{% extends "layout/base_dashboard.html" %}
{% block title %}Gestion Client{% endblock %}
{% block content %}

<div class="d-flex h-100  align-items-center justify-content-center">
    <div class="row p-0 m-0 ">
        <div class="col"> </div>
        <!-- card show client-->
        <div class="col-10 cardStyle p-5">
            <div class="row p-0 m-0 my-5 ">
                <div class="col-9"></div>
                <div class="col-3 cardStyle ">
                    <div class="row d-flex justify-content-between ">
                        <a href="/ajoute/client/" class="text-center py-2 col-6  py-2 ">Créer</a>
                        <a href="/affiche/clients/" style="padding-right:50px ;padding-left: 30px;" class="text-center py-2 col-6  py-2 active">Gérer</a>
                    </div>
                </div>

                <div class="col"></div>

            </div>
            <div class="row">
                <div class="col-8">
                    <h1 class="cardTitle">Consultez vos Clients</h1>
                </div>
                <div class="col-4">
                    <form action="/clients/search">
                        <div class="input-group position-relative ">
                            <input type="text" name="name" value="{{search}}" class="form-control " placeholder="Trouvez Clients"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append position-absolute " style="right:10px !important">
                                <button  class="btn my-1 py-0" type="button">Search</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="mt-5 col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Addresse</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Credits</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr>
                                <td>{{client.nom}} </td>
                                <td>{{client.prenom}}</td>
                                <td>{{client.addresse}}</td>
                                <td>{{client.phoneNumber}} </td>
                                <td>{{client.total}}</td>
                                <td>
                                    <a href="/edit/client/{{client.id}}">
                                        <button class="btn my-1 py-0" type="button">Editer</button>
                                    </a>
                                    <a href="/client/paye/{{client.id}}">
                                        <button class="btn my-1 py-0" type="button">Payer</button>
                                    </a>
                                    <a href="/credits/search?name={{client.nom}}">
                                        <button class="btn my-1 py-0" type="button">Credits</button>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!-- end card show client-->

        <div class="col"> </div>

    </div>
</div>

{% endblock %}