{% extends "layout/base_dashboard.html" %}
{% block title %}Gestion Client{% endblock %}
{% block content %}


<div class="d-flex h-100  align-items-center justify-content-center">
    <div class="row p-0 m-0 ">
        <div class="col"> </div>
        <!-- card show client-->
        <div class="col-10 cardStyle p-5">
            <div class="row p-0 m-0 my-5 ">
                <div class="col-9"></div>
                <div class="col-3 cardStyle ">
                    <div class="row d-flex justify-content-between ">
                        <a href="/ajoute/client/" class="text-center py-2 col-6  py-2 ">Créer</a>
                        <a href="/affiche/clients/" style="padding-right:70px ;padding-left: 30px;"
                            class="text-center py-2 col-6  py-2 active">Gérer</a>
                    </div>
                </div>

                <div class="col"></div>

            </div>
            <div class="row d-flex justify-content-center">
                <h1 class="cardTitle text-center">Ajouter un nouveau Client à votre carnet </h1>
                <form method="post" action="/update/client/{{client.id}}">
                    {% csrf_token %}
                    <div class="mt-5 col-12 row">
                        <div class="col-2"> </div>
                        <div class="my-2 col-4">
                            <input class="p-2 pl-4 input-form" value="{{client.nom}}" name="nom" placeholder="Nom"
                                type="text">
                        </div>
                        <div class="my-2 col-4">
                            <input class="p-2 pl-4 input-form" value="{{client.prenom}}" name="prenom"
                                placeholder="Prenom" type="text">
                        </div>
                        <div class="col-2"> </div>
                        <div class="col-2"> </div>
                        <div class="my-2 col-4">
                            <input class="p-2 pl-4 input-form" value="{{client.addresse}}" name="addresse"
                                placeholder="Addresse" type="text">
                        </div>
                        <div class="my-2 col-4">
                            <input class="p-2 pl-4 input-form" value="{{client.phoneNumber}}" name="phoneNumber"
                                placeholder="Telephone" type="text">
                        </div>
                        <div class="col-2"> </div>

                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <button class="p-2 button-submit my-2" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end card show client-->

        <div class="col"> </div>
    </div>
</div>
    {% endblock %}